@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'rubik';
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    background-size: cover;
    overflow: hidden;
}
main{
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    overflow: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    background-color: white;
    overflow-y: hidden;
}

.map{
    height: 100%;
    width: 100%;
    top: 0;
    background-color: #75cff0;
}


.page{
    width: 100vw;
    scroll-snap-align: center;
    /*padding: 1.5rem;*/
    display: grid;
}

.anbe{
    display: grid;
    place-items: center;
    grid-template-columns: 7fr 8fr;
    width: 80vw;
    height: 2rem;
    font-size: 0.8rem;
    
}

.anbefalinger{
    background-color: white;
    border: 0.5px solid gray ;
    border-radius: 1rem;
    margin-right: 1rem;
    padding: 0.25rem;
}


#searchbar{
    z-index: 5;
    width: 100vw;
    height: 10vh;
    transition: all .3s ease-in-out;    
    top: 0;
    /*place-items: center;*/
}

#searchbar2{
    display: grid;
    place-items: center;
    margin-top: 1rem;
}

input{
    color: black;
    width: 87vw;
    font-size: 1.1rem;
    border-radius: 10rem;
    border: 1px solid grey;
    outline: 1rem;
    padding: .5rem;
    place-items: center;
}

.buttons{
    background-color: white;
    z-index: 6;
    height: 6vh;
    display: grid;
    place-items: center;
    grid-template-columns: 10fr 1fr 10fr;
    position: absolute;
    bottom: 0;
    border-top: 1px solid black;
}

#button1, #button2, #button3{
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: lightgray;
    border: 1px solid darkslategray;
}

.card{
    margin-top: 1rem;
    height: 13rem;
    border: 2px solid black;
    border-radius: 1rem;
    background-color: white;
}
.cardholder{
    margin: 1rem;
    height: 90vh;
    overflow-y: scroll;
}

.progressholder{
    margin: 1rem;
    height: 1rem;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 10px;
}
.progress{
    height: 0.9rem;
    background-color: green;
    border-radius: 10px;
}

.heading{
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.page1{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
}

.page1 div{
    grid-row-start: 1;
    grid-column-start: 1;
}

.page2{
    background-image: url('./assets/sky.webp');
}

#searchbox{
    z-index: 1;
    margin: 0.5rem;
    margin-left: 1.3rem;
    height: 10vh;
}

